@use "./variables" as *;
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image1 {
        width: 45px;
        align-self: center;
        margin-bottom: 10px;
    }

    &__cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.cardContent {
    position: relative;
    transform-style: preserve-3d;

    .frontCard,
    .backCard {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        transition: transform 0.6s ease;
    }

    .frontCard {
        z-index: 2;
        position: relative;
    }
    .backCard {
        position: absolute;
        left: 0;
        z-index: 1;
    }
}

.cards__flipped {
    .frontCard {
        z-index: 1;
    }

    .backCard {
        z-index: 2;
    }
}

.cards__matched {
    pointer-events: none;
}

@media screen and (min-width: 768px){
    .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 70px;
    
        &__image1 {
            width: 80px;
            align-self: center;
            margin-bottom: 10px;
            padding-left: 10px;
        }
    
        &__cardContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
    
    .cardContent {
        position: relative;
        transform-style: preserve-3d;
    
        .frontCard,
        .backCard {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transition: transform 0.6s ease;
            padding: 5px;
        }
    
        .frontCard {
            z-index: 2;
            position: relative;
        }
        .backCard {
            position: absolute;
            left: 0;
            z-index: 1;
        }
    }
    .cards__flipped {
        .frontCard {
            z-index: 1;
        }
    
        .backCard {
            z-index: 2;
        }
    }
}
