@use "./variables" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 20px;

    &__img {
        height: 11vh;
    }

    &__title {
        font-family: $main-font;
        font-size: 1rem;
        text-align: center;
        text-shadow: 3px 3px 3px $white-color;
    }
}

@media screen and (min-width: 768px){
    .header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 20px;
    
        &__img {
            height: 14vh;
        }
    
        &__title {
            font-family: $main-font;
            font-size: 1.4rem;
            text-align: center;
            text-shadow: 3px 3px 3px $white-color;
        }
    }
}

@media screen and (min-width:1440px){
    .header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 20px;

        &__img {
            height: 17vh;
        }

        &__title {
            font-family: $main-font;
            font-size: 1.6rem;
            text-align: center;
            text-shadow: 3px 3px 3px $white-color;
        }
    }
}
