@use "./variables" as *;


.header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 30px 10px;

    &__img {
        height: 20vh;
    }

    &__title {
        font-family: $main-font;
        font-size: 1.5rem;
        text-align: center;
    }
}