$main-font: 'Lexend', sans-serif;
$black-color:  black;
$white-color: #fff;
$opacity-white-color: rgba(245, 245, 245, 0.727);
$blue-color: #4ec1e9;
$cerulean-color: #235f75;

// $superDarkFrey-color: #3a3a3a;
// $darkGrey-color: #898781;
// $mediumGrey-color: #e2e2e5;
// $lightGrey-color: #e7e7e7;
// $skin-colour: #bea88f;
// $skinLight-colour: #c8c2bb;
