@use "./variables" as *;
@use "./btn-audio";
@use "./cards";
@use "./header";

body {
    background-image: url("../img/background.jpeg");
    backdrop-filter: grayscale(40%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
