@use "./variables" as *;
@use "./btn-audio";
@use "./cards";
@use "./header";

html {
    display: flex;
    flex-direction: column;
    align-content: center;
}
body {
    background-image: url("../img/background.jpeg");
    backdrop-filter: grayscale(40%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height:100vh;
    width: 100vw;
    background-attachment: fixed;
    margin-right: 30px;
    // overflow-y: hidden ;
}

.pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
